.sec1 {
    text-align:center;
    background-color:ghostwhite;
}

.sec2 {
    background-color: #e3f6f5;
    text-align: center;
    padding-top: 5px;
    padding-bottom:5px;
    padding:5px;
}
.ser1 {
    padding-top:50px;
}

.sec-3 {
    text-align:center;
    padding-top: 50px;
}